{% extends "base.html" %} {% load static %} {% block content %}
<!--Privacy Policy-->
<div class="section bg-light">
  <div class="container pt-3">
    <div class="col-12">
      <h4 class="text-center">Privacy Policy</h4>
      <div class="block-divider"></div>
      <h5 class="text-center pb-3 text-green">
        Your privacy is critically important to us.
      </h5>
      <p class="text-start">Last Updated: 12/5/2020</p>
      <p>
        It is Verity’s Maths Place’s policy to respect your privacy regarding
        any information we may collect while operating our website. This Privacy
        Policy applies to www.vhhtuition.co.uk (hereinafter, the Site). We
        respect your privacy and are committed to protection personally
        identifiable information you may provide us through the Site. We have
        adopted this Privacy Policy to explain what information may be collected
        on the Site, how we use this information and under what circumstances we
        may disclose the information the third parties.
      </p>
      <p>
        This Privacy Policy applies only to information we collect through the
        Site and does not apply to our collection of information from other
        sources. This Privacy Policy, together with the Terms and Conditions
        posted on the Site, set forth the general rules and policies governing
        your use of our Site. Depending on your activities when visiting, you
        may be required to agree to additional terms and conditions.
      </p>
      <h5 class="text-center pb-3 text-green">Website Visitors</h5>
      <p>
        Like most websites, Verity’s Maths’s Place collects
        non-personally-identifying information of the sort that web browser and
        servers typically make available, such as the browser type, language
        preference, referring site, and the date and time of each visitor
        request. Verity’s Maths Place’s purpose in collecting non-personally
        identifying information is to better understand how the Site visitors
        use its website.
      </p>
      <p>
        Verity’s Maths Place also collects potentially personally identifying
        information like Internet Protocol (IP) addressed sor logged in users
        and for users leaving comments of any blog posts, or course areas.
      </p>
      <h5 class="text-center pb-3 text-green">Security</h5>
      <p>
        The security of your Personal Information is important to us, but
        remember that no method of transmission over the internet, or method of
        electronic storage is 100% secure. While we strive to use commercially
        acceptable means to protect your Personal Information, we cannot
        guarantee its absolute security.
      </p>
      <h5 class="text-center pb-3 text-green">Links to External Sites</h5>
      <p>
        Our service may contain links to external sites that are not operated by
        us. If you click on a third party link, you will be directed to that
        third party’s site. We strongly advice you to review the Privacy Policy
        and terms and conditions of every site you visit.
      </p>
      <p>
        We have no control over, and assume no responsibility for the content,
        privacy policies or practices of any third part sites, products or
        services.
      </p>
      <h5 class="text-center pb-3 text-green">
        Protection of Certain Personally-Identifying Information
      </h5>
      <p>
        Verity’s Maths Place discloses potentially and/or personally-identifying
        information only to those of its employees, contractors and affiliated
        organisations that (i) need to know that information in order to process
        it on the Site’s behalf or to provide services available at the Site and
        (ii) that have agreed not to disclose it to others. Some of those
        employees contractors and affiliated organisations may be located
        outside of your home county; by using the Site, you consent to the
        transfer of such information to them.
      </p>
      <p>
        We will not rent or sell potentially personally-identifying and
        personally-identifying information only in response to a subpoena, court
        order or other governmental request, or when we believe in good faith
        that disclosure is reasonably necessary to protect the property or
        rights of Verity’s Maths Place, third parties or the public at large.
      </p>
      <p>
        If you are a registered user of the Site and have supplied your email
        address, we may occasionally send you an email to tell you about new
        features, solicit you feedback, or just keep you up to date with what’s
        going on with the Site and our products. We primarily use our blog to
        communicate the type of information, so we expect to keep this type of
        email to a minimum. If you send us a request (for example via a support
        email or via one of our feedback mechanisms), we reserve the right to
        publish it in order to help us clarify or respond to your request of to
        help us support other users.
      </p>
      <p>
        We take all measures reasonably necessary to protect against the
        unauthorised access, use, alteration or destruction of potentially
        and/or personally-identifying information.
      </p>
      <h5 class="text-center pb-3 text-green">Aggregated Statistics</h5>
      <p>
        We may collect statistics about the behaviour of visitors to its
        website. We may display this information publicly or provide it to
        others. However, we do not disclose your personally-identifying
        information.
      </p>
      <h5 class="text-center pb-3 text-green">Cookies</h5>
      <p>
        To enrich and perfect your online experience, we use “Cookies”, similar
        technologies and services provided by others to display personalised
        content, appropriate advertising and store your preferences on your
        computer.
      </p>
      <p>
        A cookie is a string of information that a website stores on a visitor’s
        computer, and that the visitor’s browser provides to the website each
        time the visitor returns. We use these cookies to help us identify and
        track visitors, their usage of the Site and their website access
        preferences. Site visitors who do not wish to ave cookies placed on
        their computers should set their browsers to refuse cookies before using
        the Site’s websites, with the drawback that certain features of the
        Site’s websites may not function properly without the aid of cookies.
      </p>
      <p>
        By continuing to navigate our website without changing your cookie
        settings, you hereby acknowledge and agree to our use of cookies.
      </p>
      <p>Our cookie Policy can be found <a href="#">here</a>.</p>
      <h5 class="text-center pb-3 text-green">Privacy Policy Changes</h5>
      <p>
        Although most changes are likely to be minor, we may change our Privacy
        Policy for time to time, and at our sole discretion. We encourage
        visitors to frequently check this page for any changes to this Privacy
        Policy. Your continued use of the Site after any change in this Privacy
        Policy will constitute you acceptance of such change.
      </p>
      <h5 class="text-center pb-3 text-green">Contact Us</h5>
      <p class="text-center">
        If you have any questions about this Privacy Policy, please contact us
        via: verity@vhhtuition.co.uk
      </p>
      <p class="text-center pb-3">
        Irchester,<br />
        Northant,<br />
        NN29 7HG<br />
        07729237478
      </p>
    </div>
  </div>
</div>
{% endblock %}
