{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="section bg-light">
  <div class="col-12 pt-3">
    <h4 class="text-center">Confirm Purchase</h4>
    <div class="block-divider"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="table-responsive rounded">
        <table class="table table-sm table-borderless">
          <thead class="text-black">
            <tr>
              <th scope="col">Course Name</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          {% for item in cart_items %}
          <tr>
            <td class="py-3">
              <p class="my-0"><strong>{{ item.course.name }}</strong></p>
            </td>
            <td class="py-3">
              <p class="my-0">£{{ item.course.price }}</p>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
      {% csrf_token %}
      <fieldset class="rounded px-3 mb-5">
        <legend class="fieldset-label w-auto mb-3">Personal Details:</legend>
        {{ order_form.full_name | as_crispy_field }}
        {{ order_form.email | as_crispy_field }}
      </fieldset>
      <fieldset class="rounded px-3 mb-5 half-border">
        <legend class="fieldset-label w-auto mb-3">Payment Information:</legend>
        <div id="card-element" class="form-group"></div>
        <div id="card-errors" class="form-group"></div>
        <input type="hidden" value="{{ client_secret }}" name="client_secret">
      </fieldset>
      <div class="text-center mb-5">
        <a href="{% url 'view_cart' %}" class="btn">
          <span class="icon">
            <i class="fas fa-chevron-left"></i>
          </span>
          <span class="text-uppercase">Back</span>
        </a>
        <button id='order-button' class="btn">
          <span class="text-uppercase">Order</span>
          <span class="icon">
            <i class="fas fa-lock"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>


{% endblock %}

<!-- Stripe Script -->
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'stripe_elements.js' %}"></script>
{% endblock %}