{% load static %}

<footer class="bg-light">
  <div class="container">
    <div class="row mt-2 pb-2">
      <div class="col-sm text-center">
        <a href="{% url 'privacy' %}">PRIVACY POLICY</a>
        <a href="{% url 'cookie' %}">COOKIE POLICY</a>
      </div>
      <div class="col-sm text-center">
        <a href="https://www.facebook.com/VeritysMathsPlace/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="mailto:verity@vhhtuition.co.uk"><i class="far fa-envelope"></i></a>
        <div>
          &copy; Veritys Maths Place
        </div>
        <div>
          Website built by <a href="http://www.silverheath.co.uk">Silverheath Limited</a>
        </div>
      </div>
      <div class="col-sm text-center">
        <span><i class="fas fa-phone"></i> 07729237478</span>
      </div>
    </div>
  </div>
</footer>
