{% extends "base.html" %} {% load static %}
{% block content %}
{% for assessment in assessments %}
<div class="section bg-light">
  <div class="col-12 pt-3">
    <h4 class="text-center">{{ assessment.name }} Questions</h4>
    <div class="block-divider"></div>
    <div class="text-center mb-2">
      <a href="{% url 'assessment_management' %}" class="btn">Back</a>
      <a href="{% url 'add_question' %}" class="btn">Add Question</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for question in questions %}
      <div class="col-md-4">
        <div class="card">
          <h5 class="card-header">Question {{ question.question_number }}</h5>
          <div class="card-body">
            <p class="card-text">{{ question.question }}</p>
            <a href="{% url 'edit_question' question.id %}" class="btn">Edit</a>
            <a href="{% url 'delete_question' question.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}