{% extends "base.html" %} {% load static %} {% block content %}
<!--About-->
<div class="section bg-light">
  <div class="container pt-3">
    <div class="col-12">
      <h4 class="text-center text-green">About Me</h4>
      <div class="block-divider"></div>
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            Never did I think I would grow up to be a Maths tutor, and yet here I am
            working my dream job! Working with children aged between 7 and 16, who
            have difficulties with Maths.
          </p>
          <p class="text-center">
            Be it just not understanding the subject,
            or due to underlining learning differences. I’ve worked with children
            who are dyslexic or undiagnosed dyscalculia and find these learners
            often have their own sense of the subject already, and just need someone
            who can understand their thinking and bring out their own confidence.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <img class="profile-img" src="{% static 'images/verity.jpg' %}" alt="Verity Profile Pic" />
          </div>
        </div>
      </div>
      <div class="block-divider"></div>
      <p class="text-center">
        Verity is a star tutor! She has the skills and patience of teaching
        kids. My daughter looks forward to her lesson each week.
      </p>
      <p class="fst-italic text-center">Matt, KS2 and KS3 Parent, Northants</p>
      <div class="block-divider"></div>
      <div class="row">
        <div class="col-md-6 center">
          <p class="text-center">
            I’m dyslexic myself and so understand some of the struggles children my
            be experiencing with Mathematics. I have the ability to give children a
            different way of understanding a topic.
          </p>
          <p class="text-center">
            Rather than tell them how it’s
            done, I’ll ask questions, encourage discussions and let them make
            mistakes to learn, in a safe and friendly environment, be it online or
            face to face.
          </p>
        </div>
        <div class="col-md-6">
          <div class="text-center">
            <img class="small-img" src="{% static 'images/Exploring-equivalent-fractions.jpg' %}"
              alt="Exploring Equivalent Fractions (KS2/KS3)" />
            <p class="fst-italic text-center pt-1">
              Exploring Equivalent Fractions (KS2/KS3)
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <img class="small-img" src="{% static 'images/Function-Machines-Answers-KS2.jpg' %}"
              alt="Exploring Function Machines (KS2)" />
            <p class="fst-italic text-center pt-1">
              Exploring Function Machines (KS2)
            </p>
          </div>
        </div>
        <div class="col-md-6 center">
          <p class="text-center">
            Our sessions are often filled with laughter and
            discussions – all which help your child to learn. I work well with most
            children, provided they give their best throughout their sessions and
            work hard.
          </p>
          <p class="text-center">
            I’m currently studying Mathematics and it’s Learning at the Open
            University. Which is both interesting and challenging, and gives
            insights into how children learn Maths. From here I hope to gain extra
            qualifications that will help me to work with children with SEN on a one
            to one in a school environment.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--Lesson Structure-->
  <div class="container pt-3">
    <div class="col-12">
      <h4 class="text-center text-green">
        What does a lesson with Verity look like?
      </h4>
      <div class="block-divider"></div>
      <p class="text-center">
        Maths sessions are available after school, Monday to Friday, Saturday
        morning or during the school day – ideal for those who are home
        educated.
      </p>
      <p class="text-center">
        I work with your child either online, or face to face, one to one. There
        are benefits to both, of which I look into on my blog.
      </p>
      <p class="text-center">
        A session is generally an hour or so (sometimes we may run over by five
        mins or so).
      </p>
      <div class="row">
        <div class="col-md-6 center text-center">
          My hour is split into three sections: the first five minutes are for a
          quick catch up. This is where I’ll ask how school/their week has been
          and find out if there has been anything that’s cropped up over the
          week they would like to have a look over.
        </div>
        <div class="col-md-6">
          <!--Image-->
          <div class="text-center pt-3">
            <img class="small-img" src="{% static 'images/exploring-ratio-ks2.jpg' %}"
              alt="Using blocks to explore ratio (KS2/KS3)" />
            <p class="fst-italic text-center pt-1">
              Using blocks to explore ratio (KS2/KS3)
            </p>
          </div>
        </div>
        <p class="text-center">
          We then either work on whatever the tutee would like to look at, or I
          work from my plan. Every learner works and learns differently, so how
          this time is used will vary. I use a number of items to help – from
          Cuisenaire Rods to flash cards – or discussion and worksheets.
        </p>
        <div class="row pt-3">
          <div class="col-md-6">
            <!--Image-->
            <div class="text-center">
              <img class="small-img" src="{% static 'images/10-numberbonds-cards.jpg' %}"
                alt="Using cards to explore number bonds" />
              <p class="fst-italic text-center pt-1">
                Using cards to explore number bonds
              </p>
            </div>
          </div>
          <div class="col-md-6 center text-center">
            If we have had a productive learning time, I may ask if they would
            like to play a game. I generally leave 5/10 minutes at the end for a
            maths based game. Not every child wants to play though, some will
            ask for more practice! I really do leave it up to the learner to
            chose. I have a game for factors, number bonds and mental maths, to
            name a few.
          </div>

          <p class="text-center">
            Talking and laughing is encouraged through the sessions – Maths is
            fun, and if your child can talk me through his working out, then we
            can pick out where (if at all) there’s anything going astray – a
            difficult task for most children at first!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}